@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

body {
    background: #FFF3E0;
}

body > * {
    font-family: 'Patrick Hand', sans-serif;
    color: #E65100;
}

#wrap {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 4em;
    text-align: center;
    margin: 50px;
}

h2 {
    font-size: 2em;
    margin: 40px 0 20px 0;

}