@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    background: #FFF;
    font-size: 24px;
    margin: 50px;
}

body > * {
    font-family: 'Raleway', sans-serif;
    color: var(--primary-colour);
}

#wrap {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 50px;
}

h2 {
    font-size: 36px;
    margin: 40px 0 20px 0;

}

small {
    color: var(--primary-light-colour);
}

a {
    color: var(--primary-colour);
}