input, select {
    background: none;
    border: none;
    color: var(--primary-colour);
    font-family: 'Patrick Hand', sans-serif;
    font-size: 24px;
    border-bottom: var(--primary-colour) solid 3px;
    line-height: 24px;
    margin: 0;
    text-align: center;
    padding-bottom: 2px;
}

select {
    -webkit-appearance: none;
    padding-bottom: 1px;
    font-weight: bold;
}

select::-ms-expand {
    display: none;
}

input[type=text] {
    width: 140px;
}

input[type=number] {
    width: 35px;
    border-bottom: none;

}

input[type=submit] {
    padding: 10px;
    border: var(--primary-colour) solid 3px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    color: var(--primary-light-colour);
    cursor: pointer;
    border-bottom: none;
    font-weight: bold;
}

input[type="radio"]+label > * {
    color: var(--primary-light-colour);
    font-weight: bold;
}
input[type="radio"]:checked+label > * {
    color: var(--primary-colour);
    text-align: center;

}

input[type="radio"]:checked+label {
    border-bottom: var(--primary-colour) solid 3px;
    color: var(--primary-colour);
}

.input {
    margin: 15px auto;
    width: 100%;
    display: block;
    background: var(--primary-lightest-colour);
    padding: 30px;
}
.input_inner {
    margin: 0 auto;
    width: max-content;
}